In [1]:
from pysus.preprocessing.sinan import read_sinan_dbf
from pysus.utilities.readdbc import read_dbc
from pysus.online_data import SIM
from pysus.online_data import CIHA
from pysus.online_data import SIA
from pysus.online_data import sinasc

import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
#states = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO']
states = ['MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO']

years = list(range(1994, 2024))  # assumindo que você quer até o ano atual (2023)

In [3]:
#SINASC data
def get_SINASC_data(state, year):
    sinascData = pd.DataFrame()
    try:
        sinascData = sinasc.download(state, year)
    
        sinascData['STATE'] = state
        sinascData['YEAR'] = year
    except:
        pass
    
    return sinascData

In [ ]:
###################################################SINASC DATA

In [ ]:
for state in states[:]:
    sinascData = pd.DataFrame()
    print(f'Loading SINASC - {state}')
    for year in years[:]:
        sinascData = sinascData.append(get_SINASC_data(state, year))
    
    minY = sinascData['YEAR'].min()
    maxY = sinascData['YEAR'].max()
    print(f'Saving SINASC - {state} {minY} to {maxY}')
    sinascData.to_parquet(f'SINASC_{state}_{minY}-{maxY}.parquet')

Loading SINASC - MA
Saving SINASC - MA 1994 to 2021
Loading SINASC - MT
Saving SINASC - MT 1994 to 2021
Loading SINASC - MS
Saving SINASC - MS 1994 to 2021
Loading SINASC - MG
Saving SINASC - MG 1994 to 2020
Loading SINASC - PA

In [40]:
sinascData

,contador,CARTORIO,DATA_CART,LOCAL_OCOR,MUNI_OCOR,CRS_OCOR,ESTAB_OCOR,DATA_NASC,SEXO,PESO,...,MUNI_MAE,CRS_MAE,FIL_VIVOS,FIL_MORTOS,FIL_ABORT,NUM_EXPORT,CRITICA,UFINFORM,STATE,YEAR
0,1,0001,19940411,1,1200401,,,19940307,1,2400,...,1200401,,01,00,,,,11,AC,1994
1,2,0001,19941222,1,1100205,,000039,19940920,2,3400,...,1200401,,00,00,,,,11,AC,1994
2,3,,00000000,1,1200500,003,000017,19940402,1,3100,...,1200500,003,00,00,,,,12,AC,1994
3,4,,00000000,1,1200500,003,000017,19940403,2,3400,...,1200500,003,00,00,,,,12,AC,1994
4,5,,00000000,1,1200500,003,000017,19940404,1,3000,...,1200500,003,00,00,,,,12,AC,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12630,12631,,19960628,1,5208707,354,,19950816,1,3350,...,1200000,,01,,,,,51,AC,1995
12631,12632,,19960620,1,1200401,003,,19951030,2,3850,...,1200401,003,01,,,,,51,AC,1995
12632,12633,,19960115,1,5106109,001,,19950808,2,3500,...,1200000,,,,,,,51,AC,1995
12633,12634,,00000000,1,5107040,007,,19950722,2,3000,...,1200000,,,,,,,51,AC,1995
12634,12635,,00000000,1,5107602,007,,19951001,2,2250,...,1200000,,,,,,,51,AC,1995

In [ ]:
#SIM data
simData = download('ba', 2007)

In [ ]:
#CIHA data
cihaData = download('mg', 2009, 7)

In [ ]:
#SIA data
bi, ps = download('AC', 2020, 3, group=["BI", "PS"])